.About_section_one .Heading_one h1{
    background: linear-gradient(90deg,#0557b4,#5a480b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 700;
    font-family: var(--family1);
    font-size: 4.81vw;
    line-height: 1.15em;
    margin-top: 100px;
}
.About_section_one {
    padding-bottom: 150px;

}
.buttion_primary h6{
  text-decoration: none;
  position: relative;
  top:5px;
  color: rgb(250, 250, 250);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .3em;
  cursor: pointer;
}
 .buttion_primary{
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  width: 180px;
  height: 50px;
  border-radius: 40px;
  background: var(--brand_color);
  background-clip: border-box;
/* -webkit-background-clip: text; */
/* -webkit-text-fill-color: transparent; */
  display: flex;

  justify-content: center;
  align-items: center;
  margin-left: 0px !important;
  font-family: var(--family1);

  font-weight: 500;
  padding-right: 0px !important;
  text-transform: uppercase;
  top: 10px !important;
  margin-left: 0px !important;
  margin-bottom: 30px;

}
.social_link{
  display: flex;
}
.social_link .two{
  margin-left: 30px;
  display: flex;
}
.social_link .two a{
  text-decoration: none;
  margin: 5px;
  color: #ffffff;


}
.social_link .two i{
  font-size: 18px;
}
.social_link .two .icon{
  text-decoration: none;
  margin: 10px;
  color: #ffffff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #7338e7;
  /* background: -webkit-gradient(linear,left top,right top,from(#7338e7),to(#0169f9));
background: -o-linear-gradient(left,#7338e7 0,#000000 100%);
background: linear-gradient(190deg,#7338e7,#000000); */
transition: 0.4s;
}
.social_link .two .icon:hover{
  background-color: #7338e7;
  /* border: 2px solid #000000;
  background: -webkit-gradient(linear,left top,right top,from(#7338e7),to(#0169f9));
background: -o-linear-gradient(left,#7338e7 0,#000000 100%);
background: linear-gradient(190deg,#7338e7,#000000); */
}
.photo_my {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    margin: auto;
    border-radius: 35px;
    overflow: hidden;
    position: relative;
    padding: 4px;
    /* animation: borderAnimation 6s linear infinite; */
  
  }
  
  .photo_my::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(90deg, #7338e7, #f9bf01);
    /* animation: borderAnimation 6s linear infinite; */
  
  }
  
  @keyframes borderAnimation {
    0% {
      background: linear-gradient(90deg, #7338e7, #f9bf01);
    }
    50% {
      background: linear-gradient(90deg, #f9bf01, #7338e7);
    }
    100% {
      background: linear-gradient(90deg, #7338e7, #f9bf01);
    }
  }
  
  
  
    
    .my_image{
      width: 100%;
      height: 100%;
      border-radius: 32px;
      /* border-radius: 100%; */
    }
.About_section_one .Heading_one h2{
    font-family: var(--family1);
    font-size: 1.67vw;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #000;
 
}

.About_section_one .Heading_one p{
    font-weight: 500;
    font-family: var(--family1);
    font-size: 16px;
    color: #e0e0e0;
    padding-right: 205px;
}


.About_section_one .Heading_one img{
    margin-top: 80px;
    margin-bottom: 80px;
}

@media screen and (max-width: 575px) {
  .photo_my {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 400px;
    margin: auto;
    border-radius: 35px;
    overflow: hidden;
    position: relative;
    padding: 4px;
    /* animation: borderAnimation 6s linear infinite; */
  
  }
  
  .photo_my::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(90deg, #7338e7, #f9bf01);
    /* animation: borderAnimation 6s linear infinite; */
  
  }

  .social_link{
    display: flex;
    flex-direction: column;
  }
  .social_link .two{
    margin-left: 0px;
    display: flex;
  }

    .About_section_one .Heading_one img{
        /* margin-top: 80px;
        margin-bottom: 80px;
        position: absolute;
        top: 0; */
        z-index: 1;
    }
    .About_section_one .Heading_one h1{
        background: linear-gradient(90deg,#102b51,#f9bf01);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        font-weight: 700;
        font-family: var(--family1);
        font-size: 9.81vw;
        line-height: 1.15em;
        margin-top: 10px;
    }
    .About_section_one .Heading_one h2{
        font-family: var(--family1);
        font-size: 6.67vw;
        font-weight: 400;
        margin-top: 18px;
        margin-bottom: 18px;
     
    }
 
.About_section_one .Heading_one p{
    font-weight: 500;
    font-family: var(--family1);
    font-size: 13px;
    color: #ebebeb;
    padding-right: 2px;
    padding-bottom: 30px;
}

}